<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/infotaxes?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">root</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.format_sql">true</property>
    <mapping resource="com/infotaxes/pojos/Estadistica.hbm.xml"/>
    <mapping resource="com/infotaxes/pojos/Sucursal.hbm.xml"/>
    <mapping resource="com/infotaxes/pojos/Usuario.hbm.xml"/>
    <mapping resource="com/infotaxes/pojos/Territorio.hbm.xml"/>
    <mapping resource="com/infotaxes/pojos/Servicio.hbm.xml"/>
    <mapping resource="com/infotaxes/pojos/Tipo.hbm.xml"/>
    <mapping resource="com/infotaxes/pojos/Horasuse.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
